<%= render partial: "layouts/header" %>
<%= render(layout: 'layouts/card') do %>
<h1>About Us</h1>
<p>
Right For You was developed by a group of people, who are all touched by autism in some way or another. We recognise that finding a school for an autistic child isn’t easy, and that we want to make the already over-whelming school-finding process easier for parents with children on the ASD spectrum. <br>
The intent of this website is for parents and carers to provide feedback on their experiences with schools for their autistic children. Please keep in mind, every child is different. A school which is perfect for one child with autism may not be suitable for another.<br>
To ensure this website is useful, relevant and respectful please remember:<br>
    • The reviews on this site are the opinions of individuals whose children may be different to yours<br>
    • To provide feedback that is constructive and respectful<br>
    • If your experience with a school is negative, please provide information on how the experience could have been improved<br>
    • Be aware that schools try to do what they think is best, differences of opinions are natural <br>
    • Parents and carers are encouraged to provide information about their child’s “tendencies” e.g. mild intellectual disability, high anxiety, routine bound etc.) so other parties are more informed how relevant the feedback is to their situation<br>
    • Please do not reveal information which allows staff at schools, yourself or children to be identified (names, home address etc.)<br>
    • If you are willing for others to contact you for further information please provide a method such as email address or Facebook support group that will allow you to be contacted discreetly and maintain both parties privacy<br>
    • Feedback of a non-constructive or defamatory nature will be removed by the site administrator<br>
    • If a particular school continues to be targeted with non-constructive or defamatory feedback, reviews will be suspended for that school and a further investigation may be launched</p>
<% end %>
