<header>
  <%= link_to :about %>
  <%= button_to :add_feedback %>
</header>
<div class="logo">
  <img src="<%= asset_url "logo.png" %>" />
</div>

<%= render partial: "searches/form", locals: {search: @search} %>
