
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="form-group autocomplete">
        <label
          for="suburbAutocomplete"
        >
          Where are you?
        </label>
        <input
          type="search"
          id="suburbAutocomplete"
          class="form-control"
        />
      </div>

    </div>
  </div>
</div>

<script>
  SuburbAutocomplete("#suburbAutocomplete", ConsumerSuggestAutocomplete)
  BrowserGeocode()
</script>
