<%= render partial: "layouts/header" %>
<%= render(layout: 'layouts/card') do %>
<p>LEGAL INFORMATION<br>
Contractual Terms of Use of the "Right for you" website.<br>
If you browse or otherwise access any content or data on the HTML website, mobile site or apps, you agree to be bound by these terms.<br>
This website is provided solely to assist consumers in gathering information relating to autism friendly schools, posting opinions of schools, engaging in interactive school forums, and searching for schools reservations, and for no other purposes. <br>
This website is offered to you on condition of your acceptance without modification of any/all the terms, conditions, and notices set forth below (collectively, the "Agreement"). By accessing or using this website in any manner, you agree to be bound by the Agreement and represent that you have read and understood its terms. Please read the Agreement carefully, as it contains information concerning your legal rights and limitations on these rights, as well as a section regarding applicable law and jurisdiction of disputes. If you do not accept all of these terms and conditions you are not authorized to use this website. <br>
We may change or otherwise modify the Agreement in the future in accordance with the terms and conditions herein, and you understand and agree that your continued access or use of this website after such change signifies your acceptance of the updated or modified Agreement. We will note the date that revisions were last made to the Agreement at the bottom of this page, and any revisions will take effect upon posting. We will notify our members of material changes to these terms and conditions by either sending a notice to the email address provided to us at registration or by placing a notice on our website. Be sure to return to this page periodically to review the most current version of the Agreement. <br>
As a condition of your use of this Website, you warrant that (i) all information supplied by you on this Website is true, accurate, current and complete, (iii) you are 13 years of age or older in order to contribute to our Website and (iv) you possess the legal authority to enter into this Agreement and to use this Website in accordance with all terms and conditions herein.<br>
These terms of use and our Privacy Policy form the basis on which you may access and use our websites, including any subdomains of those websites, mobile sites, apps, APIs and widgets (together called “our websites” in these terms).<br><br>
We reserve the right to change any or all of our terms of use or other conditions for using our websites at any time by publishing the new terms or conditions on our website. Your use of our websites constitutes your acceptance of those terms. Should you object to any of our terms of use or other notices on our websites your sole option is to immediately cease your use of our websites.<br>
We do not warrant that content, links, or subdomains contained on, or associated with our website will be available and accessible to you at all times. We may change the path or location of a link or sub-domain, or redirect content contained within a link or subdomain on our website at any time without prior notice to you. We do not warrant that any links that you forward will remain constant at the time that you forward or share them, as they are subject to change at any time without notice to you.<br>
Information on our websites should not be regarded as a substitute for professional legal, financial or advice.<br>
"Right for you" is responsible for maintaining our websites and all "Right for you" publications make no warranty as to the accuracy or reliability of the information contained therein (including, but not limited to, any content or information generated on our websites by or on behalf of "Right for you", and any Third Party Content on our website) and "Right for you" and its related entities, directors, officers and agents disclaim all liability and responsibility for any direct or indirect loss or damage which may be suffered by any recipient through relying on anything contained in or omitted from our websites or publications.<br>
Restrictions on use of websites<br>
In accessing or using our websites you agree that you will not:<br>
  (a)  use any automated device, software, process or means to access, retrieve, scrape, or index our websites or any content on our website; <br>
  (b)  use any device, software, process or means to interfere or attempt to interfere with the proper working on our website; <br>
  (c)  undertake any action that will impose a burden or make excessive traffic demands on our infrastructure that we deem, in our sole discretion to be unreasonable or disproportionate site usage; <br>
  (e)  transmit spam, chain letters, contests, junk email, surveys, or other mass messaging, whether commercial in nature or not; <br>
  (f)  use our websites or any content from our websites in any manner which is, in our sole discretion, not reasonable and / or not for the purpose which it is made available; <br>
  (g)  violate the rights of any person, including copyright, trade secret, privacy right, or any other intellectual property or proprietary right; <br>
  (h)  pose as any person or entity or attempt to solicit money, passwords or personal information from any person; <br>
  (i)  act in violation of any Term of Use or other condition posed by us or any applicable law;<br>
  (j)  reproduce, republish, retransmit, modify, adapt, distribute, translate, create derivative works or adaptations of, publicly display, sell, trade, or in any way exploit our websites or any content on our website, except as expressly authorised by us; or <br>
  (k)  transmit or attempt to transmit any computer viruses, worms, defects, Trojan horses or other items of a destructive nature.<br>
We reserve the right to exercise whatever means we deem necessary to prevent unauthorised access to or use of our website, including, but not limited to, instituting technological barriers, or reporting your conduct to any person or entity.<br>
Copyright<br>
The subject matter on and accessible from our websites and publications is copyright. Apart from fair dealing permitted by the Copyright Act 1968, we grants visitors to the site permission to download copyright material only for private and non-commercial purposes. For reproduction or use of INSERT HTML copyright material beyond such use, written permission must be obtained directly from us or the relevant copyright owner. If given, permission will be subject to the requirement that the copyright owner’s name and interest in the material be acknowledged when the material is reproduced or quoted, in whole or in part.<br>
Third party links and advertising<br>
Our websites often include advertisements, hyperlinks and pointers to websites operated by third parties. Those third party websites do not form part of our websites and are not under the control of or the responsibility of us. When you link to those websites you leave our websites and do so entirely at your own risk. We and its related entities make no warranty as to the accuracy or reliability of the information contained on any third party websites, and we and our related entities, directors, officers and agents disclaim all liability and responsibility for any direct or indirect loss or damage which may be suffered by you through relying on anything contained on or omitted from such third party websites. A display of advertising does not imply an endorsement or recommendation by us.<br>
Contributions<br>
In this section ‘Contributions’, means information including data, text, video, still images, audio or other material that we have permitted you to host, share, publish, post, store or upload on our websites  as permitted under these terms. <br>
We may at any time, without liability to you, remove, alter or disable access to any or all of your Contributions in its sole discretion without prior notice to you. Without limiting the previous sentence, we may remove or disable access to any or all your Contributions if it considers that:<br>
  (a)  those Contributions are in breach of any law or regulation; <br>
  (b)  those Contributions infringe the intellectual property rights of any third party; <br>
  (c)  it is required to do so by a regulatory body or any relevant authority pursuant to an interim or final take-down notice; <br>
  (d)  those Contributions are:<br>
          (i) misleading or deceptive; <br>
          (ii) inappropriate having regard to the purpose of our websites; <br>
          (iii) likely to cause offence; <br>
          (iv) materially incorrect; <br>
          (v) obscene; <br>
          (vi) defamatory; <br>
          (vii) otherwise unlawful; or <br>
          (viii) corrupted, due to the presence of a virus or other disabling code.<br>
You retain all of your ownership rights in your Contributions. We are under no obligation to treat your Contributions as proprietary information.<br>
To the extent that any Contributions are proprietary in nature, you grant us a worldwide, nonexclusive, royalty-free, perpetual, transferable and irrevocable licence to use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and display and publicly perform your Contributions throughout the world in any medium, whether currently in existence or not. You also grant each user of our websites a nonexclusive licence to use, reproduce, adapt, translate, distribute, prepare derivative works of, display and perform your Contributions as permitted by us and these terms.<br>
You grant us, in respect of Contributions to its website the right to use your name or the name you submit with the Contribution, and, the right to represent and warrant that:<br>
  (a)  you own and control all of the rights to the Contributions; or <br>
  (b)  you have the lawful right including all necessary licences, rights, consents, and permissions to use and authorise us to display the Contributions.<br>
For any Contributions that you may retain moral rights in, you declare that:<br>
  (a)  you do not require that any personally identifying information be used in connection with the Contribution, or any derivative work, upgrade or update of the Contribution; and<br>
  (b)  You understand that when accessing our websites, you may be exposed to the Contributions of other users of our websites. You acknowledge and agree that we do not have control of and are not responsible for these other Contributions. You release us from any claims that you could assert against us relating to or in connection with these other Contributions.<br>
You represent and warrant that:<br>
  (a)  you have the lawful right including all necessary licences, rights, consents, and permissions to use and authorise us to display your Contributions; and <br>
  (b)  you will not make any Contributions that:<br>
a.  are false, unlawful, misleading, libelous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, or advocates harassment of another person, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent or otherwise objectionable; <br>
b.  are patently offensive, such as content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual; <br>
c.  would constitute, encourage, promote or provide instructions for a conduct of an illegal activity, criminal offense, give rise to civil liability, violate the rights of any party in any country of the world, or that would otherwise create liability or violate any local, state, national or international law; <br>
d.  that impersonates any person or entity or otherwise misrepresents your affiliation with a person or entity, including "Right for you"; <br>
e.  constitute unsolicited promotions, mass mailings or "spamming", transmission of "junk mail", "chain letters", political campaigning, advertising, contests, raffles, or solicitations; <br>
f.  contain commercial activities and/or sales without our prior written consent such as contests, sweepstakes, barter, advertising, and pyramid schemes; <br>
g.  includes private information of any third party, including, without limitation, surname (family name) addresses, phone numbers, email addresses, and credit card numbers; <br>
h.  viruses, corrupted data or other harmful, disruptive or destructive files; <br>
i.  content that is unrelated to the topic of the website; <br>
j.  infringe the intellectual property rights of any third party, and you agree to pay all royalties, fees or other monies payable by reason of any Contributions made by you; <br>
k.  are misleading or deceptive; <br>
l.  are incorrect; <br>
m.  directly or indirectly involve the advertising or marketing of any products or services; <br>
n.  are otherwise unlawful or encourage unlawful conduct; or <br>
o.  are otherwise inappropriate having regard to the purpose of our websites.<br>
We take no responsibility and assume no liability for any Content posted, stored or uploaded by you or any third party, or for any loss or damage thereto, nor are we liable for any mistakes, defamation, slander, libel, omissions, falsehoods, obscenity, pornography or profanity you may encounter. As a provider of interactive services, we are not liable for any statements, representations or content provided by our users in any public forum, personal home page or other area of the website. Although we have no obligation to screen, edit or monitor any of the content posted to or distributed through our website, we reserve the right, and have the absolute discretion, to remove, screen, translate or edit without notice any content posted or stored on this website at any time and for any reason, or to have such actions performed by third parties on our behalf, and you are solely responsible for creating backup copies of and replacing any content you post or store on this website at your sole cost and expense. <br>
Third Party Content<br>
Our websites contain content provided to us by other parties (Third Party Content). We do not have a practice of monitoring or making inquiries about Third Party Content. We are not responsible for, does not endorse and makes no representations either expressly or impliedly concerning Third Party Content. Third Party Content does not represent the views of us. You rely on Third Party Content completely at your own risk. <br>
Platform providers<br>
Further warranties<br>
You represent and warrant that:<br>
  (a)  your use of our websites will comply at all times with these terms and any directions we make to you in relation to your use of our websites from time to time; <br>
  (b)  you will make sure that you keep your username and password by which you access the website confidential and secure at all times; and<br>
  (c)  you accept all liability for any unauthorised use of any username and password issued except for unauthorised use resulting from any negligent act or omission legally attributable to us.<br>
Indemnity<br>
You agree to indemnify and hold us and our affiliates (and their officers, agents, partners and employees) against any and all loss, liability, claim or demand (including reasonable attorneys’ fees arising out of, or in connection with your use of and access to our websites or making Contributions not in accordance with these terms.<br>
Limitation of liability<br>
Certain rights and remedies may be available under the Competition and Consumer Act 2010 (Cth) similar legislation of other States or Territories and may not be permitted to be excluded, restricted or modified. Apart from those that cannot be excluded. To the extent permitted by law, our liability for breach of any implied warranty or condition that cannot be excluded is restricted, at our option to: the re-supply of services or payment of the cost of re-supply of services; or the replacement or repair of goods or payment of the cost of replacement or repair.<br>
IN NO EVENT SHALL WE BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING LOST PROFIT, LOSS OF REVENUE, LOSS OF GOODWILL, LOSS OF CUSTOMERS, LOSS OF CAPITAL, DOWNTIME COSTS, LOSS OF PROFIT, LOSS OF OR DAMAGE TO REPUTATION, LOSS UNDER OR IN RELATION TO ANY OTHER CONTRACT, LOSS OF DATA, LOSS OF USE OF DATA, LOSS OF ANTICIPATED SAVINGS OR BENEFITS SUFFERED OR INCURRED BY OR AWARDED AGAINST YOU UNDER OR IN ANY WAY CONNECTED WITH THIS AGREEMENT OR THE WEBSITES. NOTWITHSTANDING ANYTHING TO THE CONTRARY HEREIN, OUR AGGREGATE LIABILITY INCLUDING FOR OUR RELATED ENTITIES TO YOU FOR ANY CAUSE OF ACTION WHATSOEVER AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO $100.00.<br>
Jurisdiction<br>
Your use of our websites, these terms, our privacy policy and all of our legal terms and notices will be governed by and construed in accordance with the laws of Victoria, Australia and by using our websites you irrevocably and unconditionally submit to the jurisdiction of the courts of that State.</p>
<% end %>
