.card {
  max-width: 800px;
  margin: auto;
  box-shadow: 2px 2px 1px #888888;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #fff;

  &:nth-child(odd){
    background-color: lighten($brand-color,37%);
  }
  .card-container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    line-height: 2em;
  }
}
