.formtastic {
  li.input {
    list-style-type: none;
  }
  li.choice {
    list-style-type: none;
    display: inline-block;
    > input {
      float:left;
      clear: right;
      display: block;
    }
  }

  textarea{
    display: block;
    border: 1px solid #000;
    width: 80%;
    height: 60px;

  }
  input[type="submit"] {
    text-transform: uppercase;
    color: #fff;
    background-color: #444;
    border: none;
    padding: .3em 1em;
  }  
}
