.formtastic {
  li.input {
    list-style-type: none;
  }
  li.choice {
    list-style-type: none;
    display: inline-block;
    > input {
      float:left;
      clear: right;
      display: block;
    }
  }

  textarea{
    display: block;
    border: 1px solid #000;
    width: 80%;
    height: 60px;

  }
}
