
header {
  background-color: $brand-color;

  .appbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    padding: 1em;

    a {
      display: inline-block;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      padding-left: 1em;
      padding-right: 1em;
    }

    a:first-child {
      margin-right: auto;
    }
    a:last-child {
      background-color: white;
      font-weight: bold;
    }
  }

  .logo {
    display: block;
    max-width: 400px;
    margin: auto;
    padding: 0 1em;
    > img {
      width: 100%;
    }

    .search-collapsed &{
      @media (max-width: 499px) {
        width: 150px;
        margin: 0;
      }
    }
  }

  .appmessage {
    text-align: center;
    font-weight: bold;
    line-height: 2em;
  }

}
